.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    background-color: brown;
}
.logo{
    height:40px
}
.btn-login {
    background-color: burlywood;
    border-radius: 20px;
    border: 8px 2px;
    height: 40px;
    width: 80px;
    margin-left: 75%;
    color: darkgreen;
    font-weight: 600;
}

.btn-signup {
    background-color: burlywood;
    border-radius: 20px;
    border: 8px 2px;
    height: 40px;
    width: 80px;
    margin-right: 2%;
    color: darkgreen;
    font-weight: 600;
}